@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: rgb(193, 221, 221);
    width: 100%;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
}



header {
  display: flex;
  justify-content: end;
  gap:50px;
}

a {
  text-decoration: none;
  font-size: 20px;
  color:rgb(247, 243, 243);
  border: 2px solid white;
  background-color:rgb(113, 163, 163);
  border-radius: 10px;
  border:none;
  padding: 10px;
  transition: 0.5s;
}
a:hover{
  background-color:  rgb(193, 221, 221);
  transform: scale(1);
}

/* GALLERY 1 */

.gallery-h {
  font-size: 50px;
  font-weight: 200;
  margin-bottom: 50px;
  letter-spacing: 20px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.gallery img {
  transition: transform 0.4s ease, filter 0.4s ease;
}

.gallery img:hover {
  transform: scale(1.08);
  filter: brightness(0.85);
} 


/* GALLERY 2 */

.gallery-2-h {
  font-size: 50px;
  font-weight: 200;
  margin-bottom: 50px;
  letter-spacing: 20px;
  padding-top: 50px;
}

.gallery-2{
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-template-rows: repeat(3, 200px);
  gap: 23px;
  padding-bottom: 100px;
}

.gallery-2 :nth-child(1){
  grid-column: 1 / span 2;
}

.gallery-2 :nth-child(5) {
  grid-row: 2 / span 2;
}

.gallery-2 :nth-child(6) {
  grid-column: 3 / span 2;
}

.gallery-2 img {
  transition: transform 0.4s ease, filter 0.4s ease;
}

.gallery-2 img:hover {
  transform: scale(1.08);
  filter: brightness(0.85);
} 


/* GALLERY 3 */

.gallery-3-h {
  font-size: 50px;
  font-weight: 200;
  margin-bottom: 50px;
  letter-spacing: 20px;
}
.gallery-3 {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);
  gap: 24px;
}

.gallery-3 img:nth-child(3) {
  grid-column: 4;
}

.gallery-3 img:nth-child(4){
  grid-column: 2;
}

.gallery-3 img {
  transition: transform 0.4s ease, filter 0.4s ease;
}

.gallery-3 img:hover {
  transform: scale(1.08);
  filter: brightness(0.85);
} 

/* GALLERY 4 */

.gallery-4 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap:24px;
  padding: 50px 0 50px 0;
}

.gallery-4 img:first-child {
  grid-column: 4;
}

.gallery-4 img:nth-child(2) {
  grid-column: 3;
}

.gallery-4 img:nth-child(3){
  grid-column: 5;
}

.gallery-4 img:nth-child(4) {
  grid-column: 2;
}

.gallery-4 img:nth-child(5){
  grid-column: 4;
}

.gallery-4 img:nth-child(6){
  grid-column: 1;
}

.gallery-4 img:nth-child(7) {
  grid-column: 3;
}

.gallery-4 img:last-child {
  grid-column: 5;
}

.gallery-4 img {
  transition: transform 0.4s ease, filter 0.4s ease;
}

.gallery-4 img:hover {
  transform: scale(1.08);
  filter: brightness(0.85);
} 